{% extends "base.html" %}
{% block title %}
Perfil
{% endblock title %}
{% block body %}
<div class="col-lg-12">
		<div class="text-center espaco">
			<h1>Informações sobre o Perfil</h1>
			<h2>{{perfil.nome}}</h2>
		</div>
		<table class="table">
			<thead>
				<tr>
					<th>Nome</th>
					<th>Email</th>
					<th>Telefone</th>
					<th>Empresa</th>
					<th>Ação</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>{{perfil.nome}}</td>
					<td>{{perfil.email}}</td>
					<td>{{perfil.telefone}}</td>
					<td>{{perfil.nome_empresa}}</td>
					<td>
					<a class="btn btn-outline-primary" href="{% url 'index'%}">Voltar</a>
					<a class="btn btn-outline-primary" href="{% url 'convidar' perfil.id %}">Convidar</a></td>
				</tr>
			</tbody>
		</table>
		</div>
{% endblock body %}